.body {
    background-color: #a10101;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}

.main-container {
    height: 562px;
    position: relative;
}

.main-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.linketinder-entrar {
    width: 600px;
    height: 150px;
    padding-bottom: 50px;
}

.opcoes-entrar {
    padding-top: 50px;
    width: 600px;
    height: 100px;
}


/* 
.strokeme {
    color: #eb4646;
    font-size: 64px;
    font-kerning: normal;
    text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;
} */

p {
    text-align: center;
}

.btn-lg {
    font-weight: bold;
}

#botao-empresa {
    color: white;
    background-color: transparent;
    border: 4px white solid;
}

#botao-empresa:hover {
    background-color: white;
    color: #a10101;
    /* color: #ee0101;  */
}

#botao-candidato {
    color: white;
    background-color: transparent;
    border: 4px white solid;
}

#botao-candidato:hover {
    background-color: white;
    color: #a10101;
}

#cadastro-empresa {
    color: #fff;
    background-color: transparent;
}

#cadastro-candidato {
    color: #fff;
    background-color: transparent;
}

#cadastro-empresa:hover {
    color: #a10101;
    background-color: #fff;
    font-weight: bold;
}

#cadastro-candidato:hover {
    color: #a10101;
    background-color: #fff;
    font-weight: bold;
}

#modal-cadastro-empresa {
    color: #000;
}

#modal-cadastro-candidato {
    color: #000;
}

#cad-emp:disabled {
    background-color: #acacac;
    cursor: not-allowed;
}

#cad-cand:disabled {
    background-color: #acacac;
    cursor: not-allowed;
}

#cad-vaga:disabled {
    background-color: #acacac;
    cursor: not-allowed;
}

#cad-skill:disabled {
    background-color: #acacac;
    cursor: not-allowed;
}

.form-group.success input {
    border: 3px solid #4ECA64;
}

.form-group.error input {
    border: 3px solid #DB5A5A;
}

.form-group.success i.img-success {
    visibility: visible;
}

.form-group.error i.img-error {
    visibility: visible;
}

.form-group.error small {
    color: #DB5A5A;
    right: 320px;
    visibility: visible;
}

.form-group i {
    position: absolute;
    visibility: hidden;
}

.form-group small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}